{% extends 'layouts/homebase.html' %}

{% block links %}
    {{ JSGlue.include() }}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/create.css')}}">
{% endblock %}

{% block content %}
    <div class="app-main__inner align-horizontal-center">

        <div class="create-view">
            <!-- <div class="scrollbar" id="style-1">
                <div class="force-overflow"> -->
                    <div style="text-align: left;" >
                        <h6 class="title-label title-font-size" id = "CourseName">Course name:</h6>
                        <input type="text" id="course_title" name="course_title" class="create-text-input">
                        <div class="invalid-feedback" id = "invalidCoursenName" style="display: none; font-size:16px">invalid Course name
                        </div>
                        <br>
                        <h6 class="title-label title-font-size" id = "NumberTopic">Number of topics</h6>
                        <input type="text" id="Number_topic" name="Number_topic" class="create-text-input">
                        <div class="invalid-feedback"  id = "invalidNumbertopic" style="display: none; font-size:16px">invalid Number of topics
                        </div>
                        <br>
                        <div id="topic_container" name="topic_container"> 
                            <div class="create-text-input">
                                <h6 class="title-font-size"> Proceeding to fill in one by one</h6>
                            </div>
                            <div id="topic_content" class="topic_content" name="topic_content">
                            </div>
                            <div class="row" class="create-text-input">
                                <div class="col-md-6 align-horizontal-center">
                                    <button class="mb-2 mr-2 btn btn-light disabled" id = "CreateCourse" onclick="createCourse()">Create course</button>
                                </div>
                                <div class="col-md-6" class="create-text-input">
                                    <div class="row">
                                        <div class="col-md-3"></div>
                                        <div class="col-md-6 align-horizontal-center pull-right" id="add_topic_container" name="add_topic_container">
                                        </div>
                                        <div class="col-md-3">
                                            <button type="button" class="btn-shadow mr-3 btn btn-dark btn-add" onclick="addTopicButtons()">
                                                <h6>+</h6>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>                 
                        </div>
                    </div>
                </div>
            <!--   </div> -->
        </div>

    </div>
{% endblock %}

{% block scripts %}
    <script src="{{url_for('static', filename='js/create.js')}}"></script>
{% endblock %}
