{% extends 'layouts/homebase.html' %}
		
	{% block links %}
		{{ JSGlue.include() }}
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/home.css')}}">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/custom.css')}}">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/searchbox.css')}}">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/util.css')}}">
	{% endblock %}

	{% block content %}
		<div id="cover" style = "display:block">
			<div class="tb">
				<div class="td"><input type="text" placeholder="Paste your class name here!" required id="searchCourse"></div>
				<div class="td" id="s-cover">
					<button class="btnSearch" onClick="joinCourse({{user_id}},'{{user_role}}')">
						<div id="s-circle"></div>
						<span></span>
					</button>
				</div>
			</div>
			<div class="align-horizontal-center">
				<br>
				<div class="error" id="joinCourseError"></div>
				<h1 class="align-horizontal-center">Join a class!</h1>
			</div>
		</div>
		{% if user_role == "instructor" %}
		<div class="" style="text-align: center;margin-top:5%">
			<button class="icon-btn add-btn" onclick="window.location.href='{{ url_for('main.create') }}'">
				<div class="add-icon"></div>
				<div class="btn-txt">Create a new course</div>
			</button>
		</div>
		{% endif %}
	{% endblock %}

	{% block leftpane %}
	<nav id="nav">
		<div class="innertube">
			<h3>Select the course you want to join</h3>
		</div>
		<div class="app-sidebar__inner">
			{% if current_user.is_authenticated %}
			<ul class="vertical-nav-menu">	
				<li>
			        <!-- <a href="" class="mm-active">
			            Dashboard Example 1
			        </a> //god-->
			    </li>
				{% if courses is defined %}
				{% for course in courses %}
			    <li>
					<div style="display:flex; justify-content: space-between">
						<a class="{{course.role}}" href="{{ url_for('main.course',user_id=current_user.id,user_role=course.role,course=course.title) }}">
							{{ course.title }}
							<i class="metismenu-state-icon pe-7s-angle-right caret-left"></i>
						</a>
						{% if course.role == "instructor" %}
							<button class="btn btn-danger pull-right" onClick="delCourse({{user_id}},{{course.id}},'{{user_role}}')">Delete Course</button>
						{% endif %}
					</div>
		        </li>
				{% endfor %}
				{% endif %}
	    	</ul>
			{% endif %}
	    </div>
	</nav>
	{% endblock %}

	{% block scripts %}
		<script src="{{url_for('static', filename='js/ui.js')}}"></script>
		<script src="{{url_for('static', filename='js/home.js')}}"></script>
	{% endblock %}
